<h1 class="text-center">Department List</h1>
<div class="mat-elevation-z10">
    <button mat-raised-button color="warn" 
                  (click)="navigateBack()">Back</button>
                
    <table mat-table [dataSource]="dataSourceToday" matSort>

      <ng-container matColumnDef="departmentname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Name </th>
        <td mat-cell *matCellDef="let element"> {{element.departmentname}} </td>
      </ng-container>

      <ng-container matColumnDef="head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Head of Department</th>
        <td mat-cell *matCellDef="let element"> {{element.head}} </td>
      </ng-container>

      <ng-container matColumnDef="contactnumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
        <td mat-cell *matCellDef="let element"> {{element.contactnumber}} </td>
      </ng-container>   

      <ng-container matColumnDef="action2"> 
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-row mat-cell *matCellDef="let element; let i = index; let row" >
        <button mat-icon-button color="warn"  class="push-right" 
        [routerLink]="['edit/', element.name]">
        <mat-icon matTooltip="Click to Edit">edit</mat-icon></button>
      </td>
    </ng-container>

      <ng-container matColumnDef="action3"> 
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-row mat-cell *matCellDef="let element; let i = index; let row" >
        <button mat-icon-button color="warn"  class="push-right" 
        [routerLink]="['deleteAccount/', element.id]">
        <mat-icon matTooltip="Click to Delete">delete</mat-icon></button>
      </td>
    </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumnsToday"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsToday; ">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>